@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background colors */
  --default: #fbfbfb;
  --surface: #f4f3f3eb;
  --secondary: #a2cfda;

  /* text color */
  --text: #101010;

  /* action color */
  --brand-primary: #6192ab;

  /* typography */
  --font-content: var(--font-geist-sans);

  /* text sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 18px;
  --text-lg: 22px;
  --text-xl: 30px;
  --text-xxl: 40px;
  --text-xxxl: 60px;

  /* layout sizes */
  --container-max: 1200px;
  --section-max: 1100px;
  --content-max: 960px;
  --container-height: 240px;

  /* spacing scale (padding, margin, gap...) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 48px;
  --space-8: 64px;
  --space-9: 96px;
  --space-10: 128px;

  /* radius */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;
}

html,
body {
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: black;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
